name: Publish
on:
  workflow_run:
    workflows: [ "Build" ]
    types:
      - completed
  workflow_dispatch:

concurrency:
  group: "${{ github.workflow }}"
  cancel-in-progress: false

jobs:
  maven-publish:
    runs-on: macos-latest # macOS supports building all Kotlin targets

    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v3

      - name: Setup JDK 11
        uses: actions/setup-java@v3
        with:
          distribution: "temurin"
          java-version: "11"

      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@v1

      - name: Cache Kotlin Konan
        id: cache-kotlin-konan
        uses: actions/cache@v3
        with:
          path: |
            ~/.konan/**/*
          key: kotlin-konan-${{ runner.os }}

      - uses: gradle/gradle-build-action@v2
        with:
          gradle-home-cache-cleanup: true
          arguments: publish --no-configuration-cache --no-parallel
        env:
          ORG_GRADLE_PROJECT_fleks.ossrhUsername: ${{secrets.OSSRH_USERNAME}}
          ORG_GRADLE_PROJECT_fleks.ossrhPassword: ${{secrets.OSSRH_TOKEN}}
          ORG_GRADLE_PROJECT_fleks.signing.key: ${{secrets.SIGNING_KEY}}
          ORG_GRADLE_PROJECT_fleks.signing.password: ${{secrets.SIGNING_PASSWORD}}
