name: Publish
on:
  workflow_dispatch:
  workflow_call:

concurrency:
  group: "${{ github.workflow }}"
  cancel-in-progress: false

jobs:
  maven-publish:
    if: ${{ github.ref == 'refs/heads/master' }}
    runs-on: macos-latest # macOS supports building all Kotlin targets

    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4

      - name: Setup JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "17"

      - name: Validate Gradle wrapper
        uses: gradle/actions/wrapper-validation@v4

      - name: Cache Kotlin Konan
        id: cache-kotlin-konan
        uses: actions/cache@v4
        with:
          path: |
            ~/.konan/**/*
          key: kotlin-konan-${{ runner.os }}

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          cache-cleanup: always

      - name: Publish project
        run: ./gradlew publish --no-configuration-cache --no-parallel
        env:
          ORG_GRADLE_PROJECT_fleks.ossrhUsername: ${{secrets.OSSRH_USERNAME}}
          ORG_GRADLE_PROJECT_fleks.ossrhPassword: ${{secrets.OSSRH_TOKEN}}
          ORG_GRADLE_PROJECT_fleks.signing.key: ${{secrets.SIGNING_KEY}}
          ORG_GRADLE_PROJECT_fleks.signing.password: ${{secrets.SIGNING_PASSWORD}}
